
.navbar{
	margin-top: 4rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border: solid 0.01px silver;
    -webkit-box-shadow: 5px 2px 6px -3px rgba(0,0,0,0.13); 
box-shadow: 5px 2px 6px -3px rgba(0,0,0,0.13);
	border-radius: 2px;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    width: 15%;
}
.logo{
    width:100%;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #f6c41d;
}


.bg-light {
    background-color: #fff!important;}

.nav-item{
	    border-right: silver solid 1px;
}

.slide_title{
    display: block !important;
    color: #2FA6DE;
    margin: 50px 0;
}

.slide_image{
    width:100%;
}

.slide_text{
    --e-global-color-primary: #2FA6DE;
    --e-global-color-secondary: #2A5569;
    --e-global-color-text: #0C2C65;
    --e-global-color-accent: #2FA6DE;
    --e-global-typography-primary-font-family: "Jost";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Jost";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Jost";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Jost";
    --e-global-typography-accent-font-weight: 500;
    font-family: "Jost", Sans-serif;
    font-size: 2rem;
    background-color: #E0EFF6;
}


#carouselExampleIndicators{
    position: relative;
    width: 75% !important;
    margin: 0 auto !important;
}

.carousel-item{
    width:100% !important;
}